.about-section {
  padding: 0 0 100px 0;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;
}

.about-title {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #555;
}

.about-description {
  font-size: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.skills-grid {
  max-width: 500px;
  width: 100%;
}

.skills-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.skills-grid li {
  background: transparent;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: default;
}

.cv-button {
  margin-top: 11%;
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  background: #333;
  background-size: 200% 200%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.5s, transform 0.2s, box-shadow 0.2s;
}

.cv-button:hover {
  background-position: right center;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}


@media (min-width: 1080px) {
  .about-section {
    padding: 50px 20px 100px 20px;
  }

  .about-content {
    max-width: 800px;
  }

  .about-title {
    font-size: 2.7em;
  }

  .about-description {
    font-size: 1.6em;
  }

  .skills-grid {
    max-width: 500px;
  }

  .skills-grid ul {
    gap: 6%;
  }

  .skills-grid li {
    font-size: 1.5em;
  }

  .cv-button {
    margin-top: 2.5%;
  }
}


@media (max-width: 768px) {
  .about-section {
    padding: 15px 15px 60px 15px;
  }

  .about-content {
    max-width: 600px;
  }

  .about-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .about-description {
    font-size: 1.4em;
    margin-bottom: 15px;
  }

  .skills-container {
    margin-top: 15px;
  }

  .skills-grid {
    max-width: 400px;
  }

  .skills-grid ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
  }

  .skills-grid li {
    font-size: 1.3em;
    padding: 6px 10px;
  }

  .cv-button {
    margin-top: 8%;
    padding: 10px 25px;
    font-size: 1.2em;
  }
}