.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 0 1.5rem;
}

.navbar a,
.navbar button {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  color: #ddd;
}


@media (min-width: 1080px) {
  .navbar {
    padding: 0.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar li {
    margin: 0 1rem;
  }

  .navbar a,
  .navbar button {
    font-size: 1.3rem;
  }
}


@media (max-width: 768px) {

  .navbar ul {
    align-items: center;
  }

  .navbar li {
    margin: 0 1rem;
  }

  .navbar a,
  .navbar button {
    font-size: 1.2rem;
  }
}